body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productosFlex {
  margin-bottom: 20px;
}

.carrito-container {
  width: 100%;
  max-width: 600px; /* ajusta según sea necesario */
  margin: 0 auto;
}

#productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;
}

.producto {
  border: 1px solid #ccc;

}

#carrito {
  margin: 0 auto;
}

#carrito-tabla {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

#carrito-tabla th,
#carrito-tabla td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.table {
  align-items: center;
  text-align: center;
}

#total {
  font-weight: bold;
  display: flex;
  align-content: center;
  text-align: center;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

button {
  background-color: #35dc4b;
  color: rgb(7, 7, 7);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 8px;
}

button:hover {
  background-color: #c82333;
}

p {
  font-size: 18px;
  margin-top: 10px;
}
p {
  text-align: center;
}

#metodo-pago {
  margin-right: 10px;
}

.button boton-pagar {
  background-color: #4caf50;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

#boton-pagar:hover {
  background-color: #6ac46f;
}

.card {
  width: 18rem;
  margin-bottom: 20px;
  text-align: center;
  box-shadow: 10px 10px 31px -8px rgba(0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 31px -8px rgba(0, 0, 0.75);
  -moz-box-shadow: 10px 10px 31px -8px rgba(0, 0, 0.75);
}

.card-img-top {
  height: 230px;
  object-fit: contain;
}

.card .card-body a {
  text-decoration: none;
}

.card .card-text {
  color: rgb(53, 196, 53);
  text-align: center;
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .card {
    width: 100%;
  }
}


